*:focus{
    outline: none !important;
    background: none !important;
}

.brandname{
    /* margin-left: 1rem !important ; */
    text-align: left !important;
    margin-bottom: 1rem !important;
    font-size: 2rem !important;
    cursor: pointer;
}

.sidebar-button{
    display: flex !important;
    align-items: center  !important;
    flex-direction: column !important;
    outline: none !important;
    background-color: none !important;
    border: none !important;
}

.sidebar-button:hover{
    outline: none !important;
    border: none !important;
}